<h1>Restaurants</h1>

<p><% @restaurants.each do |restaurant|%>
  <%= link_to restaurant.name, restaurant_path(restaurant.id) %>
  <br>
  <%= restaurant.category %>
  <br>
  <br>
  <% end %>
</p>

<%= link_to "Add new restaurants", new_restaurant_path  %>
